@import './about.scss';
@import './contact.scss';
@import './join.scss';
@import './news.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	color: #5d5d5d;
	font-weight: 200;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* width */
::-webkit-scrollbar {
	background: transparent;
	height: 6px;
	border: 1px solid #d5d5d5;
	margin-left: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4b5b6e;
	border-radius: 20px;
	background-clip: padding-box;
	height: 60%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4b5b6e;
}

a {
	text-decoration: none;
	color: #5d5d5d;
	&:hover {
		color: #373535;
	}
}
nav.navbar.navbar-expand-lg.navbar-light.custom-width {
	width: 90%;
	margin: auto;
}
button.left-arrow-custom {
	position: absolute;
	bottom: 35px;
	color: #fff;
	background: transparent;
	font-size: 35px;
	border: none;
	left: 50px;
}
button.right-arrow-custom {
	position: absolute;
	bottom: 35px;
	color: #fff;
	background: transparent;
	font-size: 35px;
	border: none;
	right: 50px;
}
.carousel-caption-custom {
	position: absolute;
	top: 40%;
	left: 50px;
	color: #fff;
}
button.call-to-action {
	background: #d74c4c;
	color: #fff;
	font-size: 14px;
	height: 40px;
	width: 150px;
	border: none;
	user-select: none;
	border-radius: 6px;
	margin-top: 8px;
}
.carousel-caption-custom p {
	font-size: 13px;
	max-width: 40%;
}
.navbar-nav {
	margin-left: 20px;
}
a.nav-link {
	color: #282828;
	font-weight: 400;
}
//Home
header {
	width: 90%;
	margin: auto;
	display: flex;
	background: #fff;
	align-items: center;
	opacity: 0.9;
	gap: 50px;
}

.main-menu-items {
	display: flex;
	gap: 30px;
}

.main-menu-link a {
	color: #282828;
	text-decoration: none;
	user-select: none;
	font-weight: 400;
}

.logo {
	width: 110px;
	height: 80px;

	img {
		width: 100%;
		height: 100%;
	}
}

.carousel-item {
	height: 70vh;
}

.carousel-item img {
	height: 70vh;
}

.home-section__wrapper {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	height: 400px;
}

.home-section__wrapper img {
	width: 400px;
	height: 250px;
}

.section-content {
	width: 400px;
}

.section-title {
	color: #d74c4c;
	user-select: none;
	font-weight: 400;
	font-size: 38px;
}

.section-des {
	font-size: 14px;
}

section.home-about.grey {
	background: #dfdfdf;
}

.section-title.how-to-join {
	color: #fff;
	font-size: 35px;
}

.join-now {
	background: #fff;
	width: 150px;
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	margin-top: 13px;
	cursor: pointer;
	user-select: none;
}

.images-flex {
	position: relative;
	bottom: 9rem;
}

.image1 {
	width: 180px;
	position: absolute;
	left: 100px;
	top: 60px;
	z-index: 3;
}

.image2 {
	width: 180px;
	z-index: 2;
	position: absolute;
	top: -20px;
}

section.how-we-help {
	height: 400px;
	padding-top: 4rem;
	background: #d7d7d7;
}

.section-main-title {
	color: #d74c4c;
	text-align: center;
	font-size: 38px;
	user-select: none;
	margin-bottom: 1rem;
	font-weight: 400;
}

.how-we-help__section-items {
	display: flex;
	width: 80%;
	max-width: 1200px;
	margin: auto;
	gap: 30px;
	font-size: 14px;
}

.how-we-help_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.how-we-help_item img {
	width: 50px;
	height: 50px;
}

.item-image-wrapper {
	background: #d74b4b;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	margin-top: 5rem;
	background: #dfdfdf;
}

.footer-credits {
	color: #fff;
	background: #d74c4c;
	user-select: none;
	display: flex;
	height: 40px;
	align-items: center;
	padding-left: 4rem;
	font-size: 12px;
}

.footer-section {
	width: 800px;
	max-width: 1200px;
	margin: auto;
	display: flex;
	gap: 30px;
	height: 400px;
	align-items: center;
}

.how-we-help__content {
	text-align: center;
	margin-top: 12px;
}

.footer-section__one {
	width: 50%;
}

.footer-section__title {
	color: #d74c4c;
	user-select: none;
	font-size: 20px;
	font-weight: 400;
}

.footer-contact__item {
	font-size: 14px;
}

.footer-logo {
	width: 120px;
	height: 60px;
}

.footer-des {
	font-size: 14px;
	max-width: 400px;
	margin: 20px 0;
	color: #232323;
	font-weight: 300;
}

.footer-contact-details {
	color: #232323;
	font-weight: 300;
}

.footer-logo img {
	width: 100%;
	height: 100%;
}

.footer-social {
	display: flex;
	gap: 10px;
}

.social-item {
	background: #000;
	color: #fff;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	user-select: none;
}

.news-wrapper {
	display: flex;
	width: 800px;
	max-width: 1400px;
	margin: auto;
	gap: 20px;
	justify-content: space-between;
}

.news-cards__wrapper {
	display: flex;
	gap: 20px;
}

.news-card {
	background: #d7d7d7;
	width: 400px;
}

.news-card img {
	height: auto !important;
}
.carousel-item {
	height: auto;
}
section.news {
	margin-top: 4rem;
}

.sub-title {
	color: #d74c4c;
	user-select: none;
	font-size: 35px;
	font-weight: 400;
}

.arrow-wrapper {
	display: flex;
	gap: 10px;
}

.left-arrow {
	background: #d74c4c;
	color: #fff;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	cursor: pointer;
}

.right-arrow {
	background: #d74c4c;
	color: #fff;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	cursor: pointer;
}

.news-title {
	color: #d74c4c;
	width: 90%;
	margin: 10px auto;
	font-size: 25px;
	font-weight: 400;
}

.read-more a {
	text-decoration: none;
	color: #d74c4c;
	font-size: 14px;
	font-weight: 300;
}

.read-more {
	width: 90%;
	margin: 10px auto;
}

.news-content {
	font-size: 14px;
	width: 90%;
	margin: 10px auto;
	color: #3b3b3b;
	font-weight: 300;
}

section.home-about.orange {
	height: 400px;
	background: #c83b03e6;
	color: #fff;
}

.image-wrapper {
	width: 300px;

	img {
		border-radius: 30px;
	}
}

.footer-contact__item {
	margin: 5px 0;
}

.footer-contact__item span {
	display: flex;
	gap: 12px;
}

//end home
.hero-image {
	height: 400px;
	width: 100%;
	position: relative;
}

.hero-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.line-seperator {
	height: 20px;
	background: #272727;
	width: 2px;
	margin: 0 10px;
}

.navbar-nav {
	display: flex;
	align-items: center;
}
a.nav-link.active {
	color: #eb3535 !important;
}

.hero-title {
	font-weight: 500;
	position: absolute;
	bottom: 0;
	background: #c85d5e;
	background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.448), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
	padding: 2rem 0;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	color: #fff;
	font-size: 35px;
}

@media (max-width: 1200px) {
	.footer-section {
		height: auto;
	}
	.footer-social {
		margin-bottom: 1rem;
	}
}
@media (max-width: 1000px) {
	.footer-section {
		width: 80%;
		margin: auto;
	}
	.news-card {
		width: 300px;
	}
}
@media (max-width: 900px) {
	.home-section__wrapper {
		flex-wrap: wrap;
		height: auto;
		padding: 1rem 0;
	}
	section.home-about.orange {
		height: auto;
	}
	section.how-we-help {
		height: auto;
		padding-top: 1rem;
	}
	.how-we-help__section-items {
		width: 400px;
		flex-wrap: wrap;
		padding: 1rem 0;
	}
	.news-wrapper {
		flex-wrap: wrap;
	}
	.image-wrapper {
		display: none;
	}
	.footer-section__one {
		width: 100%;
	}
	.footer-logo img {
		margin-top: 1rem;
	}
}
@media (max-width: 786px) {
	.news-cards__wrapper {
		flex-wrap: wrap;
	}
	.news-card {
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 600px) {
	.carousel-caption-custom {
		position: absolute;
		top: 30%;
		left: 50px;
		color: #fff;
	}
	.logo {
		width: 80px;
		height: 60px;
	}
}
@media (max-width: 400px) {
}
